/*
//=======================================================================\\
//  ## ####### #######                                                   \\
//  ## ##      ##   ##                                                   \\
//  ## ##      ## ####  |\  | |¯¯¯ ¯¯|¯¯ \      / |¯¯¯| |¯¯¯| | / |¯¯¯|  \\
//  ## ##      ##       | \ | |--    |    \    /  | | | | |_| |<   ¯\_   \\
//  ## ####### ##       |  \| |___   |     \/\/   |___| | |\  | \ |___|  \\
// --------------------------------------------------------------------- \\
//       Brazillian Developer / WebSite: http://www.icpfree.com.br       \\
//                 Email & Skype: ivan1507@gmail.com.br                  \\
//=======================================================================\\
*/
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
}
html {
	background-color: #333;
	background-image: url(../images/bg_votesystem.gif);
	background-repeat: repeat;
	background-position: 0 63px;
}
body {
	background-color: transparent;
	background-image: url(../images/bg_topvote.gif);
	background-repeat: repeat-x;
	background-position: 0 0;
}
a:link {
	color: #CCC;
	text-decoration: none;
}
a:visited {
	color: #CCC;
}
a:hover {
	color: #999;
}
a:active {
	color: #999;
}
input[Type=Text],[Type=Password],select {
	width:250px;
	height:28px;
	color:#666;
	border:1px solid #ccc;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	outline:none;
	padding: 0px 3px 0px 3px;
}
input[Type=Text]:hover,[Type=Password]:hover,select:hover {
	border:1px solid #999;
	background-color: #F8F8F8;
}
input[Type=Submit]{
	width:240px;
	height:40px;
	margin-top:3px;
	border:none;
	border:1px solid #CCC;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-8 */
	color: #999;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

input[Type=Submit]:hover{
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

.corpo-topo {
	width:990px;
	height:auto;
	margin:auto;
}

.msg {
	width: 500px;
	padding: 10px;
	display: none;
	background-color: rgba(255, 255, 255, 0.1);
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	margin-left: 27px;
	color: #FFF;
	font-size: 14px;
	border: 1px solid #F90 !important;
}

.edits {
	float:left;
	width: 500px;
	padding: 10px;
	display: none;
	background-color: rgba(255, 255, 255, 0.1);
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	margin-left: 2px;
	color: #FFF;
	font-size: 14px;
}

.loading {
	text-align: center;
	display: none;
}

.verify {
	float:left;
	width:100%;
	padding-top:20px;
	text-align: center;
	display: none;
}

.entrega {
	float:left;
	width:100%;
	padding-top:20px;
	text-align: center;
	display: none;
}

#total_votos {
	position:absolute;
	left:195px;
	top:178px;
	font-size:14px;
}

#inst_1{
	float:left;
	width:272px;
	height:35px;
	line-height:35px;
}
#inst_2{
	float:left;
	width:272px;
	height:35px;
	line-height:35px;
}

#adm a {
	position:absolute;
	top:0px;
	right:0px;
	width:120px;
	padding-left:30px;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	height:30px;
	line-height:30px;
	background-color:rgba(0,0,0,0.2);
	background-image:url('../images/admin.png');
	background-repeat: no-repeat;
	-webkit-border-radius: 0px 0px 0px 5px;
    border-radius: 0px 0px 0px 5px;
	text-align:left;
	display:block;
}

#update {
	position:absolute;
	top:35px;
	right:0px;
	width:150px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:rgba(0,0,0,0.2);
	background-image:url('../images/warning.png');
	background-repeat: no-repeat;
	-webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
	text-align:left;
	display:block;
	font-size:11px;
}

#server {
	width: 990px;
	margin:0 auto;
	padding-top: 35px;
	position:relative;
}
#logo {
	background-image: url(../images/logo_votesystem.png);
	height: 120px;
	width: 500px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	background-position: center top;
}
#login-box {
	width: 600px;
	min-height: 300px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.1);
	border: 1px solid #666;
	-webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
}
.center-login {
	width: 578px;
	min-height: 278px;
	background-color: #333;
	margin: 10px;
	background-image: url(../images/bg_boxlogin.gif);
	border: 1px solid #666;
}
input {
	width:200px;
	height:30px;
}
.formulario {
	margin-top: 70px;
	color:#fff;
}
/* botão form */
  button {
	border: 1px solid #FF9900;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #FF9900;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#FFCC33),to(#FF9900));
	background-image: -webkit-linear-gradient(top,#FFCC33,#FF9900);
	background-image: -moz-linear-gradient(top,#FFCC33,#FF9900);
	background-image: -ms-linear-gradient(top,#FFCC33,#FF9900);
	background-image: -o-linear-gradient(top,#FFCC33,#FF9900);
	background-image: linear-gradient(top,#FFCC33,#FF9900);
	height: 30px;
	width: 200px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
  }
  button:hover {
	border: 1px solid #FF9900;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #FF9900;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#FFCC33),to(#E68A00));
	background-image: -webkit-linear-gradient(top,#FFCC33,#E68A00);
	background-image: -moz-linear-gradient(top,#FFCC33,#E68A00);
	background-image: -ms-linear-gradient(top,#FFCC33,#E68A00);
	background-image: -o-linear-gradient(top,#FFCC33,#E68A00);
	background-image: linear-gradient(top,#FFCC33,#E68A00);
  }
  button:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  }
/* fim do botão */
/* facebook */
.fb-like-box-back {
	width: 600px;
	height: 105px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 194px;
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.1);
	border: 1px solid #666;
	-webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
}
.fb-like-box {
	width: 578px;
	height: 83px;
	background-color: #333;
	margin: 10px;
	background-image: url(../images/bg_boxlogin.gif);
	border: 1px solid #666;
}
#creditos {
	color: #999;
	font-size: 13px;
}
#creditos2 {
	color: #999;
	font-size: 10px;
}
